#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	cmake -S src -B build \
		-GNinja \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/opt/fastflowlm

override_dh_auto_build:
	cmake --build build

override_dh_auto_install:
	install -d debian/fastflowlm/opt/fastflowlm debian/fastflowlm/usr/bin
	DESTDIR=$(CURDIR)/debian/fastflowlm cmake --install build --prefix=/opt/fastflowlm
	install -m 644 src/model_list.json debian/fastflowlm/opt/fastflowlm/model_list.json
	ln -sf /opt/fastflowlm/flm debian/fastflowlm/usr/bin/flm
